* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}



header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 23px;
}
.logo {
  margin-left: -5vw;

  @media (max-width: 768px) {
    display: none;
   }
}


.header-nav > ul, a {
  text-decoration: none;
  list-style-type: none;
  margin: 5px 30px;
}

.underline-on-hover > li {
  margin-bottom: 10px;
}

.header-nav {
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }
}




.underline-on-hover:hover {
  border-bottom: 3px solid green;
}

.green-button {
  padding: 15px;
  background-color: #29B24E;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  color: white;
  margin-right: -4vw;

  @media (max-width: 768px) {
    display: none;
   }
}
 

.main-wrapper {
  display: flex;
  flex-direction: row;
  margin: 18px 4%;


  @media (max-width: 1200px)  {
    flex-direction: column-reverse;
  }
}


.content-wrap {
  display: flex;
  /* width: 100%; */

  /* @media (max-width: 1200px)  {
    flex-direction: column;
  } */
}

.content-wrap > :last-child {
  margin-left: 20px;
}

.mid-line {
  border-top: 1px solid #ECECEC;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ECECEC;
  margin: 20px 0 0;
}

.mid-line > * {
  padding: 10px;

}


.mid-line > :first-child {
  margin-left: 22px;
}


.content-onmiddle > * {
  margin-top: 15px
}

.content-onmiddle > :nth-last-child(1),
.content-onmiddle > :nth-last-child(2) {
 color: grey;
}


.last-content {
  display: flex;
    justify-content: flex-start;
}

.item-last {
  text-align: left;
}

.items-wrapper {
  text-align: center;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  padding: 24px;
}

h4 {
  font-size: 13px;
  font-weight: 400;
}

.img-onleft {
  width: 50%;
  padding: 10px;
}


.big-img-itself {
   /* margin-top: 28px; */
   border-radius: 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   width: 100%;
}

.content-right {
  background-color: #F8F8F8;
  width: 50%;
  margin: 10px 10px 18px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



@media (max-width: 1200px) {
  .content-wrap {
     flex-direction: column;
  }
  .img-onleft, .content-right {
     width: 100%; 
  }
 }



.viptop {
  background-color: #29B24E;
  border-radius: 20px;
  width: 62px;
  height: 28px;
}


.content-ontop {
  display: flex;
    margin: 20px 39px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}


.content-onmiddle {
  margin: 0 33px;
}


.box-footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid #ECECEC;
  margin: 30px 0px;
}

.button1 {
  border-radius: 10px;
  border: 1px solid#29B24E;
  padding: 13px;
  background-color: transparent;
  width: 19vh;
  margin-top: 15px;
}


.button2 {
  border-radius: 10px;
  border: 1px solid #29B24E;
  padding: 13px;
  background-color: #29B24E;
  width: 8vh;
  margin-top: 15px;
}


.trending-ads {
  display: flex;
}

.all-ad-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -7vw;
  justify-content: space-evenly;
  padding: 95px 12px;

  @media (max-width: 1200px)  {
    flex-direction: column;
  }
}

.green-price {
  font-size: 25px;
}

.item {
  background-color: white;
  margin-top: 40px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 335px;
}

.text-below, .item img {
  padding: 9px;
}


.rooms {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 9px;
    border-top: 1px solid #CFEAD6;
    margin-bottom: 6px;
}

.rooms > p {
  padding: 8px;
}

h3 {
  color: black;
}

.house-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.vip-top {
  background-color: #29B24E;
  border-radius: 20px;
  width: 62px;
  height: 28px;
  margin: 19px 18px;
  position: absolute;
}

.imgs-cont2 {
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 31px;
  height: 31px;
  margin-left: 269px;
  margin-top: -27px;
  /* position: absolute; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}





/* footer */


footer{
  background-color: #29B24E;
  border-radius: 20px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 923px) {
    flex-direction: row;
  }
}


.footer-line {
  border-bottom: 1px solid white; 
  padding-bottom: 20px;
  margin: 15px 118px;
}


.first-nav-wrap .second-nav-wrap > ul, li{
  text-decoration: none;
  list-style-type: none;
  margin-top: 30vw;
  margin: 2px -8px -22px;
  color: white;
}

.first-nav-wrap > ul {
  display: flex;
  flex-direction: row;

  @media (max-width: 923px) {
    flex-direction: column;
  }
}

.second-nav-wrap > ul {
  display: flex;
  flex-direction: row;
  @media (max-width: 923px) {
    flex-direction: column;
    padding: 15px;
  }
}

.second-nav-wrap > li {
  @media (max-width: 923px) { 
    padding: 5px;
  }
}

.between {
  margin-top: 30px; 
  color: white;
  
  @media (max-width: 923px) {
    display: none;
  }
}

.link-nav {
   
  @media (max-width: 923px) {
    padding: 15px;
  }

}

.mobile-footer {
  display: none;

  @media (max-width: 627px) {
    display: flex;
  }
}