* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: 'Poppins', sans-serif;
    font-weight: 400;
  font-style: normal;
}

.main-wrapper {
  display: flex;
  margin: 0 3%;

  @media (max-width: 1200px)  {
    flex-direction: column-reverse;

  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 23px;
}


.header-nav > ul, a {
  text-decoration: none;
  list-style-type: none;
  margin: 5px 30px;
  border-bottom: 3px solid transparent;
  position: relative;
}

.underline-on-hover > li {
  margin-bottom: 10px;
}

.header-nav {
  display: flex;

  @media (max-width: 768px) {
    display: none;
  }
}




.underline-on-hover:hover {
  border-bottom: 3px solid green;
}

.green-button {
  padding: 15px;
  background-color: #29B24E;
  border: none;
  box-shadow: none;
  border-radius: 10px;
  color: white;
  margin-right: -7vw;
  @media (max-width: 925px) {
    margin-left: -2vw;
  }

  @media (max-width: 563px) {
    display: none;
   }
}

.search-header {
  display: none;

  @media (max-width: 563px) {
    display: flex;
    border-radius: 50%;
    padding: 15px;
    background-color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

   }

}




.logo {
  margin-left: -10vw;

  @media (max-width: 977px) {
    margin-left: -7vw;
  }

}




.checkbox-wrapper {
  background-color: #F8F8F8;
  margin-top: 40px;
  width: 19vw;
  border-radius: 20px;
  margin-right: 17px;
  padding: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 1200px) {
    width: 100%;
    height: 100%;
  }

}
 


.select-wrapper {
  margin-top: 10px;
}

.select-itself {
  border: 1px solid #0D9CA4; 
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}

.checkbox1-wrap {
  margin-top: 30px;
}


label {
  display: block;
  padding-left: 11px;
  text-indent: -15px;
}



.checkbox-item input[type=checkbox] {
  /* accent-color: #29B24E; */
  accent-color: forestgreen;

  margin-bottom: 15px;
  
}

.form1 {
  font-size: 13px;
}

.checkbox2-wrap {
  margin-left: 0px;
  margin-top: 15px;
}

.big-img {
  position: relative;
}

.main-img {
  width: 100%;
  max-height: 141vh;
}



.search-img-wrap {
  margin-top: 40px;
}

.img-content {
  content: "Overlay Text";
  position: absolute;
  top: 22%;
  left: 49%;
  transform: translate(-50%, -50%);

  @media (max-width: 1200px) {
    position: absolute;
    top: 42%;
    left: 50%;
  }

}

.img-content {
  @media (max-width: 650px) {
    position: absolute;
    top: 32%;
    left: 50%;
  }

  @media (max-width: 500px) {
    top: 25%;
    left: 50%;
  }
}

.img-h1-content {
  font-size: 39px;  
  text-align: center; 

   
  @media (max-width: 771px) {
    font-size: 30px;

  }

  
  @media (max-width: 650px) {
    font-size: 25px;
  }
  @media (max-width: 500px) {
    font-size: 15px;
    margin-top: 30px;
  }

}


.img-p-content {
  text-align: center; 
  margin-top: 18px; 
  font-size: 18px;

  @media (max-width: 500px) {
    font-size: 10px;
    margin-top: 30px;
  }

}



.search-form {
 border-radius: 1px;
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin-top: 29px;
 position: relative;
}



.search-input {
    border: 1px transparent;
    width: 48%;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
/* 
    @media (max-width: 613px) {
      width: 30%;
      margin-top: 30px;
    } */

    @media (max-width: 563px) {
     display: none;
    }

}


.search-img {
  top: 29%;
  left: 68%;
  position: absolute;
  @media (max-width: 563px) {
    display: none;
   }
}


.trending-ads {
  display: flex;
}

.all-ad-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -7vw;
  justify-content: space-evenly;
  padding: 95px 12px;
}

.green-price {
  font-size: 25px;
}

h3 {
  color: black;
}

.item {
  background-color: white;
  margin-top: 40px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 335px;
}

.text-below, .item img {
  padding: 9px;
}


.rooms {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 9px;
    border-top: 1px solid #CFEAD6;
    margin-bottom: 6px;
}

.rooms > p {
  padding: 8px;
}

.house-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.vip-top {
  background-color: #29B24E;
  border-radius: 20px;
  width: 62px;
  height: 28px;
  margin: 19px 18px;
  position: absolute;
}

.imgs-cont2 {
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 31px;
  height: 31px;
  margin-left: 293px;
  margin-top: -27px;
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}





/* footer */


footer{
  background-color: #29B24E;
  border-radius: 20px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 923px) {
    flex-direction: row;
  }
}


.footer-line {
  border-bottom: 1px solid white; 
  padding-bottom: 20px;
  margin: 15px 118px;
}


.first-nav-wrap .second-nav-wrap > ul, li{
  text-decoration: none;
  list-style-type: none;
  margin-top: 30vw;
  margin: 2px -8px -22px;
  color: white;
}

.first-nav-wrap > ul {
  display: flex;
  flex-direction: row;

  @media (max-width: 923px) {
    flex-direction: column;
  }
}

.second-nav-wrap > ul {
  display: flex;
  flex-direction: row;
  @media (max-width: 923px) {
    flex-direction: column;
    padding: 15px;
  }
}

.second-nav-wrap > li {
  @media (max-width: 923px) { 
    padding: 5px;
  }
}

.between {
  margin-top: 30px; 
  color: white;
  
  @media (max-width: 923px) {
    display: none;
  }
}

.link-nav {
   
  @media (max-width: 923px) {
    padding: 15px;
  }

}

.mobile-footer {
  display: none;

  @media (max-width: 627px) {
    display: flex;
  }
}



